.sidebar{
  background: #eeeeee;
  padding: 2rem;
  width: 250px;
  height: 90% ;
}
.navigation{
  list-style: none;
  font-size: 1.5rem;

  li a{
    text-decoration: none;
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.08em;

    &:hover{
      color: black;
    }
  }
}